{{#if superAdmin}}
  {{> admin-menu active="dashboard"}}
{{else}}
  {{>  menu active="dashboard"}}
{{/if}}

<form method="POST" action="/club/updateclub/{{club._id}}">
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Club</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Website</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <div class="field">
            <input class="input" type="text" value="{{club.club}}" name="club">
          </div>
        </td>
        <td>
          <div class="field">
        <input class="input" type="text" value="{{club.address}}" name="address">
      </div>
        </td>
        <td>
          <div class="field">
        <input class="input" type="number" value="{{club.phone}}" name="phone">
      </div>
        </td>
        <td>
          <div class="field">
        <input class="input" type="email" value="{{club.email}}" name="email">
      </div>
        </td>
        <td>
          <div class="field">
        <input class="input" type="text" value="{{club.website}}" name="website">
      </div>
        </td>
        <td>
          <div class="field">
        <input class="input" type="number" value="{{club.latitude}}" name="latitude">
      </div>
        </td>
        <td>
          <div class="field">
        <input class="input" type="number" value="{{club.longitude}}" name="longitude">
      </div>
        </td>
        <td>
      <div class="field">
        <input class="input" type="text" value="{{club.description}}" name="description">
      </div>
        </td>
      </tr>
  </tbody>
</table>
  <input type="submit" value="Update club">
</form>

{{#if errors}}
    <ul>
        {{#each errors}}
            <li>{{message}}</li>
        {{/each}}
    </ul>
{{/if}}