{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="admin"}}
  {{else}}
    {{>  menu active="dashboard"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="dashboard"}}
{{/if}}

<section class="section pt-6 page-margin">
    <h1 class="title page-heading is-2 is-uppercase mb-3">Edit Club</h1>
     <form method="POST" action="/club/updateclub/{{club._id}}">
        <div class="field-body">
            <div class="container">                
                <div class="columns is-vcentered is-12">
                    <div class="column has-text-centered">
                        <div class="columns is-multiline is-vcentered">
                            <div class="column has-text-centered is-4 pb-0">

                                <div class="field">
                                <input class="input mb-3" type="text" id="place-name" placeholder="Place Name" value="{{club.club}}" name="club" />
                                </div>

                                <div class="field">
                                <input class="input mb-3" type="text" id="place-county" placeholder="Place County"  value="{{club.address}}" name="address" />
                                </div>
                            </div>
                            <div class="column has-text-centered is-4 pb-0">

                                <div class="field">
                                <input class="input mb-3" type="text" id="place-phone" placeholder="Phone Number" value="{{club.phone}}" name="phone" />
                                </div>

                                <div class="field">
                                <input class="input mb-3" type="text" id="place-website" placeholder="Website" value="{{club.website}}"  name="website" />
                                </div>
                            </div>
                            <div class="column has-text-centered is-4 pb-0">

                                <div class="field">
                                <input class="input mb-3" type="text" id="place-lat" placeholder="Latitude" value="{{club.latitude}}" name="latitude" />
                                </div>

                                <div class="field">
                                <input class="input mb-3" type="text" id="place-lng" placeholder="Longitude" value="{{club.longitude}}" name="longitude" />
                                </div>
                            </div>
                            <div class="column has-text-centered is-6 pt-0 pb-0">
                    <div class="field">
                      <input class="input mb-3" type="text" id="place-email" placeholder="Email" value="{{club.email}}" name="email" />
                    </div>
                </div>
                <div class="column has-text-centered is-6 pt-0 pb-0">
                    <div class="field ">
                        <div class="select mb-3 is-fullwidth">
                            <select id="place-category" name="category">
                                <option value="">Select Category</option>
                                <option value="JUNIOR" {{#if (eq club.category 'JUNIOR')}}selected{{/if}}>JUNIOR</option>
                                <option value="SENIOR" {{#if (eq club.category 'SENIOR')}}selected{{/if}}>SENIOR</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered is-12 pt-0">
                <div class="field">
                  <textarea class="textarea" rows="5" placeholder="Enter description here..." name="description">{{club.description}}</textarea>
                </div>
                                <div class="buttons is-centered pt-3">
                                  <button class="button is-primary is-fullwidth is-size-5 p-5"><i class="fas fa-pen-to-square p-3"></i> Update Club</button>  
                                </div>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{{#if errors}}
    <ul>
        {{#each errors}}
            <li>{{message}}</li>
        {{/each}}
    </ul>
{{/if}}