<section class="section page-margin pt-6">
      {{!-- <h1 class="title page-heading is-2 is-uppercase mb-3">Club Details</h1>  --}}
      <div class="blog-posts">
        <div class="box box-link-hover-shadow">
            <div class="columns is-fullwidth p-0 mb-0">
                <div class="column has-text-left">
                    <h2 class="title page-heading is-2 is-uppercase mb-0">
                        {{club.club}} 
                    </h2>
                </div>
                <div class="column has-text-right">
                    <h2 class="title page-heading is-2 is-uppercase mb-0">
                        {{club.category}} Club
                    </h2>
                </div>
            </div>                    
            <div class="columns featured-post is-multiline">
                <div class="column is-12 post">
                    <article class="columns featured is-multiline pt-0">
                    {{#if club.img}}
                      <figure class="image is-520x360">
                        <div class="column">
                            <img src={{club.img}} alt="">
                        </div>
                      </figure>                                
                    {{else}} 
                      <figure class="image is-520x360">                                                    
                        <div class="column">
                            <img src="/images/club-image.png" alt="">
                        </div>                                
                      </figure>   
                    {{/if}}
                        <div class="column featured-content va">
                            <div>
                                <h3 class="heading post-category">County</h3>
                                <h1 class="title post-title page-content is-3 mb-3">{{club.address}}</h1>
                                <h3 class="heading post-category">Phone</h3>
                                <h1 class="title post-title page-content is-3 mb-3">{{club.phone}}</h1>
                                <h3 class="heading post-category">Email</h3>
                                <h1 class="title post-title page-content is-3 mb-3">{{club.email}}</h1>
                                <h3 class="heading post-category">website</h3>
                                <h1 class="title post-title page-content is-3 mb-3">{{club.website}}</h1>                                      
                                <div class="buttons has-addons is-fullwidth">
                                    <a id="place-link-location" class="button is-half" href="https://www.google.com/maps/?q={{club.latitude}}%2C{{club.longitude}}"
                                        target="_blank"><i class="fas fa-location-dot fa-lg mr-2"></i> View Place</a>
                                    <a id="place-link-directions" class="button is-half" href="https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination={{club.latitude}}%2C{{club.longitude}}"
                                        target="_blank"><i class="fas fa-route fa-lg mr-2"></i> Get Directions</a>
                                </div>
                            </div>

                        </div>
                        <div class="column is-12 pb-0">
                            <h1 class="title page-heading is-4 is-uppercase mb-3">Description</h1> 
                            {{!-- <h3 class="heading post-category">Description</h3> --}}
                            <p class="post-excerpt">{{club.description}}</p>
                            <br>
                        </div> 
                        <div class="column is-12 pb-0">
                            <h1 class="title page-heading is-4 is-uppercase mb-3">Club Games</h1> 
                            {{> list-club-games}}
                        </div>                                     
                </div>
            </div>
            </article>
        </div>   
    </div>   
  </section>