{{#each clubs}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{club}}
    </h2>
    <p> {{address}} </p>  
    <p> {{phone}} </p>
    <p> {{email}} </p>
    <p> {{website}} </p>
    <p> {{latitude}} </p>
    <p> {{longitude}} </p>
    <p> {{_id}} </p>
    <a href="/dashboard/editclub/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
    </a>  
    <a href="/club/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
    <a href="/dashboard/deleteclub/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}